/* .result-arrow {
  cursor: pointer;
  font-size: 17pt;

} */
body {
  font-family: "Courier New", Courier, monospace;
}
.result-arrow2 {
  cursor: pointer;
  font-size: 17pt;
}
.container {
  width: 500px;
}
select {
  width: 190px;
  text-align: center;
  height: 30px;
}
